// 🎨 Цвета
:root {
    --color-dark: #121212;
    --color-light: #ffffff;
    --color-gold: #d4af37;
    --color-gray: #a5a5a5;

    --text-color: var(--color-light);
    --background-color: var(--color-dark);

    --max-width: 120rem;
    /* 1200px */
    --header-height: 7rem;
    --border-radius: 1.2rem;
}