@use "../styles/styleComponents/Header";
@use "../styles/styleComponents/Home";
@use "../styles/styleComponents/Shop";
@use "../styles/styleComponents/AboutUs";
@use "../styles/styleComponents/Footer";
@use "../styles/variables";
@use "../styles/mixins";


// базовый размер шрифта (1rem = 10px)
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

// сброс базовых стилей
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// базовые настройки тела
body {
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem; // = 16px
    color: var(--text-color);
    background-color: var(--background-color);
    line-height: 1.6;
}


a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: inherit;
}

ul {
    list-style: none;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
